.about > .container > .image {
    box-sizing: border-box;
    background: url(../img/aboutme.jpg) no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 500px;
    padding: 0 15px;
    float: left;
}

.about > .container > .description {
    box-sizing: border-box;
    width: 50%;
    height: 500px;
    float: right;
    padding: 100px 60px 50px;
}

