:root {
    --color-negative: #000;
    --color-zero: #fff;
    --color-first: #5b5963;
    --color-second: rgba(253, 115, 90, 1);
    --color-second-light: rgba(253, 115, 90, .8);
    --color-thirth: #666;
    --color-fourth: #f5f5f5;
    --color-fifth: #dddddd;
}