:root {
    --color-negative: #000;
    --color-negative-alpha: rgba(0,0,0,0.06);
    --color-zero: #fff;
    --color-zero-light: rgba(255, 255, 255, .5)
    --color-first: #5b5963;
    --color-second: rgba(253, 115, 90, 1);
    --color-second-light: rgba(253, 115, 90, .8);
    --color-thirth: #666;
    --color-fourth: #f5f5f5;
    --color-fifth: #dddddd;
    --color-sixth: #333333;
    --color-seventh: rgba(235, 235, 235, .8);
}