.header {
    position: absolute;
    width: 100%;
    background-color: var(--color-zero);
}
.header.-active {
    position: fixed;
    top: 0;
    z-index: 9999;
}

.header > .nav-bar {
    box-sizing: border-box;
    text-transform: uppercase;
    width: 80vw;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.header .action {
    display: block;
    text-decoration: none;
    color: var(--color-first);
    letter-spacing: 3px;
    padding: 15px;

}

.header .nav-header > .action {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
}

.header .nav-menu > .list {
    display: flex;
    height: 50px;
}

.header .nav-menu .item {
    box-sizing: border-box;
    font-size: 11px; 
    color: var(--color-eighth);
    transition: all 0.4s ease-in-out 0s;
}

.header .nav-menu .item.-active {
    background-color: var(--color-second);
    color: var(--color-zero);
    outline: 0 none;
}

.header .nav-menu .item:hover {
    background-color: var(--color-second);
    color: var(--color-zero);
    outline: 0 none;
}

.header .nav-menu .action {
    line-height: 20px;
}
