.portfolio-works {
    padding: 120px 0 100px;
}

.portfolio-works > .container {
    width: 70vw;
    padding: 0 15px;
    margin: 0 auto;
}

.portfolio-works .row {
    padding: 0 -15px;
}
/* portfolio buttons */

.portfolio-works .filter {
    list-style-type: none;
    text-align: center;
    margin: 0 0 40px 0;
    padding: 0;
}

.portfolio-works .filter > .item {
    display: inline-block;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 8px 20px;
    margin: 5px;
    border-radius: 2px;
    transition: all 0.4s ease-in-out 0s;
    background-color: var(--color-fourth);
}

.portfolio-works .filter > .item.-active {
    background-color: var(--color-second);
    color: var(--color-zero);
}

.portfolio-works .filter > .item:hover {
    background-color: var(--color-second);
    color: var(--color-zero);
}