.portfolio-works > .list {
    position: relative;
}

.portfolio-works > .list > .item {
    position: absolute;
    top: 0;
    left: 0;
    width: 32.333%;
    padding: 0 10px;
    margin-bottom: 20px;
}

/* Positions */
.portfolio-works > .list > .item1 {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
}

.portfolio-works > .list > .item2 {
    transform: translate3d(634px, 0px, 0px) scale3d(1, 1, 1);
}

.portfolio-works > .list > .item3 {
    transform: translate3d(1268px, 0px, 0px) scale3d(1, 1, 1);
}

.portfolio-works > .list > .item4 {
    transform: translate3d(0px, 549px, 0px) scale3d(1, 1, 1);
}

.portfolio-works > .list > .item5 {
    transform: translate3d(634px, 549px, 0px) scale3d(1, 1, 1);
}

.portfolio-works > .list > .item6 {
    transform: translate3d(1268px, 549px, 0px) scale3d(1, 1, 1);
}

.portfolio-works > .list .image {
    width: 100%;
    height: auto;
}

.portfolio-works > .list .layerRed {
    background-image: linear-gradient(45deg, rgba(250,31,85,0.8) 0%, rgba(253,115,90,0.8) 100%);
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    transform: scale(0.98);
    transition: all 0.3s ease 0s;
    opacity: 0;
    cursor: pointer;
}

.portfolio-works > .list > .item:hover .layerRed {
    opacity: 1;
    transform: scale(0.90);
}

.portfolio-works > .list .caption {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.portfolio-works > .list .title {
    color: var(--color-zero);
    font-size: 16px;
    font-weight: 400;
}

.portfolio-works > .list .description {
    color: var(--color-fifth);
    font-size: 13px;
    font-style: italic;
}