.portfolio-works {
    padding: 120px 0 100px;
}

.portfolio-works > .container {
    width: 70vw;
    padding: 0 15px;
    margin: 0 auto;
}

.portfolio-works .row {
    padding: 0 -15px;
}
/* portfolio buttons */

.portfolio-works .filter {
    list-style-type: none;
    text-align: center;
    margin: 0 0 40px 0;
    padding: 0;
}

.portfolio-works .filter > .item {
    display: inline-block;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 8px 20px;
    margin: 5px;
    border-radius: 2px;
    transition: all 0.4s ease-in-out 0s;
    background-color: var(--color-fourth);
}

.portfolio-works .filter > .item.-active {
    background-color: var(--color-second);
    color: var(--color-zero);
}

.portfolio-works .filter > .item:hover {
    background-color: var(--color-second);
    color: var(--color-zero);
}

/* Section image of the portfolio */

.portfolio-works > .list {
    position: relative;
    text-align: center;
    height: 95vh;
    transition: height 250ms ease-out 0s;
}

.portfolio-works > .list > .item {
    position: relative;
    display: inline-block;
    top: 0;
    left: 0;
    width: 31%;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}

/* Positions */
/* .portfolio-works > .list > .item1 {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
}

.portfolio-works > .list > .item2 {
    transform: translate3d(634px, 0px, 0px) scale3d(1, 1, 1);
}

.portfolio-works > .list > .item3 {
    transform: translate3d(1268px, 0px, 0px) scale3d(1, 1, 1);
}

.portfolio-works > .list > .item4 {
    transform: translate3d(0px, 549px, 0px) scale3d(1, 1, 1);
}

.portfolio-works > .list > .item5 {
    transform: translate3d(634px, 549px, 0px) scale3d(1, 1, 1);
}

.portfolio-works > .list > .item6 {
    transform: translate3d(1268px, 549px, 0px) scale3d(1, 1, 1);
} */

.portfolio-works > .list .image {
    width: 100%;
    height: auto;
}

/* portfolio layer */

.portfolio-works > .list .layerRed {
    background-image: linear-gradient(45deg, rgba(250,31,85,0.8) 0%, rgba(253,115,90,0.8) 100%);
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    transform: scale(0.98);
    transition: all 0.3s ease 0s;
    opacity: 0;
    cursor: pointer;
}

.portfolio-works > .list > .item:hover .layerRed {
    opacity: 1;
    transform: scale(0.90);
}

.portfolio-works > .list .caption {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.portfolio-works > .list .title {
    color: var(--color-zero);
    font-size: 16px;
    font-weight: 400;
}

.portfolio-works > .list .description {
    color: var(--color-fifth);
    font-size: 13px;
    font-style: italic;
}
