.works {
    padding: 120px 0 100px;
}

.works > .container {
    width: 70vw;
    padding: 0 15px;
    margin: 0 auto;
}

.works .row {
    padding: 0 -15px;
}

.works .module-header {
    text-align: center;
    margin-bottom: 50px;
}

/* Portfolio title */
.works .module-header > .module-title {
    position: relative;
    color: var(--color-first);
    margin: 0 0 30px;
}

.works .module-header > h2 {
    font-size: 30px;
    font-weight: 300;
}

.works .module-title > span {
    font-size: 100px;
    position: absolute;
    left: 0;
    right: 0;
    top: -40px;
    z-index: 0;
    opacity: 0.05;
}

/* Portfolio Line */
.works .module-header > .module-line {
    background-color: var(--color-thirth);
    width: 55px;
    height: 1px;
    margin: 30px auto;
}

/* portfolio buttons */

.works .filter {
    list-style-type: none;
    text-align: center;
    margin: 0 0 40px 0;
    padding: 0;
}

.works .filter > .item {
    display: inline-block;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 8px 20px;
    margin: 5px;
    border-radius: 2px;
    transition: all 0.4s ease-in-out 0s;
    background-color: var(--color-fourth);
}

.works .filter > .item.-active {
    background-color: var(--color-second);
    color: var(--color-zero);
}

.works .filter > .item:hover {
    background-color: var(--color-second);
    color: var(--color-zero);
}

/* Portfolio image */

.works > .portfolio-list {
    position: relative;
    width: 100%;
    height: 90vh;
    padding: 0;
    margin: 0;
}

.works > .portfolio-list > .portfolio-item {
    display: block;
    list-style: outside none none;
    margin-bottom: 20px;
    padding: 0 10px;
    width: 33.333%;
}

.works > .portfolio-list .figure {
    position: relative;
}

.works > .portfolio-list .image {
    display: block;
    width: 100%;
    height: auto;
}

.works > .portfolio-list .figure {
    position: relative;
}

.works > .portfolio-list .figcaption {
    position: absolute;
    top: 8px;
    right: 8px;
    bottom: 8px;
    left: 8px;
    background: linear-gradient(45deg, rgba(250,31,85,0.8) 0%, rgba(253,115,90,0.8) 100%);
    text-align: center;
    opacity: 0;
    transition: all 0.3s ease 0s;
}

.works > .portfolio-list > .portfolio-item:hover .figcaption{
    opacity: 1;
    transform: scale(.97);
}

.works > .portfolio-list .action {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
}

.works > .portfolio-list .caption-inner {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -20px;
}

.works > .portfolio-list .portfolio-item-title {
    font-size: 16px;
    color: var(--color-zero);
    font-weight: 400;
    letter-spacing: 1px;
}

.works > .portfolio-list .portfolio-item-desc {
    color: var(--color-fifth);
    font-size: 13px;
    font-style: italic;
}